RewriteEngine On

RewriteRule ^assets/([\s\S]*)$ public/$1 [L,NC,QSA]

RewriteCond %{REQUEST_URI} !^/sfmk/public
RewriteCond %{REQUEST_URI} !^/sfmk/index.php
RewriteRule ^([\s\S]*)$ index.php/$1 [L,NC,QSA]